body {
    margin: 0;
    font-family: Arial, Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    background: url("./background.jpg") no-repeat center center fixed;
    background-size: cover; 
}

h1 {
    margin: 10px;
    width: 100%;
    background: rgb(208, 79, 210); 
}

#board {
    width: 540px;
    height: 540px;
    background-color: rgb(140,237,248);
    border: 5px solid beige;
    border-radius: 10px;
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 60px;
    height: 60px;
}

